n8n-workflows/sre-alert-workflow.json
{
  "name": "SRE Copilot - Alert Remediation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sre-alert",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sre-alert"
    },
    {
      "parameters": {
        "jsCode": "// ── Filter: only firing alerts from namespace 'demo' ──────────────────────\n// ── Dedup: ignore fingerprints already processed within the last 10 minutes ─\nconst body = $input.first().json.body || $input.first().json;\nconst now = Date.now();\nconst TTL = 10 * 60 * 1000; // 10 minutes\n\n// 1. Keep only firing alerts from the demo namespace\nconst demoAlerts = (body.alerts || []).filter(a =>\n  a.status === 'firing' &&\n  (a.labels?.namespace === 'demo' || body.commonLabels?.namespace === 'demo')\n);\n\nif (demoAlerts.length === 0) {\n  console.log('[Filter] No firing demo alerts — stopping execution');\n  return [];\n}\n\n// 2. Deduplication using workflow static data (survives workflow restarts)\nconst store = $getWorkflowStaticData('global');\nif (!store.seen) store.seen = {};\n\n// Evict expired entries\nfor (const [fp, ts] of Object.entries(store.seen)) {\n  if (now - ts > TTL) delete store.seen[fp];\n}\n\n// Filter out already-seen fingerprints\nconst newAlerts = demoAlerts.filter(alert => {\n  const fp = alert.fingerprint ||\n    [alert.labels?.alertname, alert.labels?.namespace, alert.labels?.pod].join('-');\n  if (store.seen[fp]) {\n    const age = Math.round((now - store.seen[fp]) / 1000);\n    console.log(`[Dedup] Alert ${fp} already processed ${age}s ago — skipping`);\n    return false;\n  }\n  store.seen[fp] = now;\n  return true;\n});\n\nif (newAlerts.length === 0) {\n  console.log('[Dedup] All alerts are duplicates within TTL — stopping execution');\n  return [];\n}\n\nconsole.log(`[Filter+Dedup] Passing ${newAlerts.length} new alert(s) to SRE Agent`);\nreturn [{ json: { ...($input.first().json), body: { ...body, alerts: newAlerts } } }];"
      },
      "id": "filter-dedup",
      "name": "Filter & Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-sre-agent",
      "name": "Call SRE Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and enrich the SRE Agent response for downstream nodes\nconst agentResponse = $input.first().json;\nconst results = agentResponse.results || [];\n\nif (results.length === 0) {\n  console.warn('[Parse] SRE Agent returned 0 results');\n  return [{ json: {\n    alert: 'unknown', namespace: 'unknown', severity: 'unknown',\n    classification: 'Unknown', rootCause: 'No results from agent',\n    autoRemediated: false, prUrl: 'none', argoCDSync: false,\n    runbook: '', investigationSteps: 0\n  }}];\n}\n\nconst enriched = results.map(r => ({\n  alert:            r.alert_name,\n  namespace:        r.namespace,\n  severity:         r.severity,\n  classification:   r.classification,\n  rootCause:        r.root_cause,\n  autoRemediated:   r.auto_remediation_applied,\n  prUrl:            r.git_pr_url || 'none',\n  argoCDSync:       r.argocd_sync_triggered,\n  runbook:          (r.runbook || []).map(s => `${s.order}. [${s.action}] ${s.description} — ${s.command || 'n/a'}`).join('\\n'),\n  investigationSteps: (r.investigation_log || []).length,\n}));\n\nconsole.log(`[Parse] ${enriched.length} result(s): ${enriched.map(e => e.classification).join(', ')}`);\nreturn enriched.map(e => ({ json: e }));"
      },
      "id": "parse-response",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build a human-readable incident report\nconst data = $input.first().json;\nconst timestamp = new Date().toISOString();\n\nconst severityEmoji = { critical: '🔴', warning: '🟡', info: '🔵' }[data.severity] || '⚪';\n\nconst lines = [\n  `${severityEmoji} *SRE Copilot Incident Report*`,\n  `*Timestamp:*      ${timestamp}`,\n  `*Alert:*          ${data.alert}`,\n  `*Namespace:*      ${data.namespace}`,\n  `*Severity:*       ${(data.severity || '').toUpperCase()}`,\n  `*Classification:* ${data.classification}`,\n  `*Root Cause:*     ${data.rootCause}`,\n  '',\n  `*Auto-Remediated:* ${data.autoRemediated ? '✅ Yes' : '❌ No'}`,\n  data.prUrl && data.prUrl !== 'none' ? `*GitOps PR:*       ${data.prUrl}` : null,\n  data.argoCDSync ? `*ArgoCD Sync:*     triggered ✅` : null,\n  '',\n  `*Runbook:*`,\n  data.runbook || '(no runbook generated)',\n  '',\n  `*Investigation steps collected:* ${data.investigationSteps}`,\n].filter(l => l !== null).join('\\n');\n\nconsole.log('AUDIT:', JSON.stringify({\n  timestamp, alert: data.alert, namespace: data.namespace,\n  severity: data.severity, classification: data.classification,\n  autoRemediated: data.autoRemediated, prUrl: data.prUrl,\n}));\n\nreturn [{ json: { report: lines, ...data, timestamp } }];"
      },
      "id": "build-report",
      "name": "Build Incident Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [[{ "node": "Filter & Dedup", "type": "main", "index": 0 }]]
    },
    "Filter & Dedup": {
      "main": [[{ "node": "Call SRE Agent", "type": "main", "index": 0 }]]
    },
    "Call SRE Agent": {
      "main": [[{ "node": "Parse Agent Response", "type": "main", "index": 0 }]]
    },
    "Parse Agent Response": {
      "main": [[{ "node": "Build Incident Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "maxConcurrentExecutions": 1,
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": ["sre", "monitoring", "gitops"],
  "triggerCount": 0,
  "updatedAt": "2026-05-19T00:00:00.000Z",
  "versionId": "4"
}

